<!DOCTYPE HTML>
<html>
    <head>
        <title>Spawner</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">
        <link href="https://fonts.googleapis.com/css?family=Quantico&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/contact.css"/>
    </head>

    <body>
        <div class="container">
            <nav>
                <a href="/" class="default-link"><h1>Spawner</h1></a>
                <ul>
                    <li><a href="/contact">Contact<div class="underline"></div></a></li>
                </ul>
            </nav>
            <div class="main-content">
                <h1 class="heading-1 page-1 mb-1">Let's Chat</h1>
                <h2 class="heading-2 text-light page-1 mb-4">Shoot us an <a href="mailto:info@spawner.ai">Email</a> or Join our <a href="https://discord.gg/z7udkC">Discord</a></h2>
                <img src="static/images/SquishyMonster.gif" class="main-monster page-1"/>
            </div>
        </div>
    </body>
</html>