html
{
    color: black;
    background-color: white;
}

nav
{
    background-color: #FFE01A;
}

nav form
{
    display: flex;
    align-items: center;
}

nav h1
{
    color: white;
}

.container
{
    width: 100vw;
    padding: 4rem;
}

.top-info
{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.result-content
{
    width: 80vw;
    margin: 0 auto;
}

.result img
{
    width: 100%;
    height: 100%;
}

.text-gray
{
    color: gray;
}